.git
.gitignore
Dockerfile
Dockerfile.armhf
.dockerignore
docker/
.coveragerc
.eggs
.github
.pylintrc
.travis.yml
CONTRIBUTING.md
MANIFEST.in
README.md
freqtrade.service
user_data/data
user_data/backtest_results
freqtrade.egg-info

*.sqlite
*.log

.vscode
.mypy_cache
.ipynb_checkpoints
